
{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
  <h1 class="text-center">Hello {{ current_user }}!</h1>

  {% for post in posts %}
  <div class="card my-3">
      <div class="card-header">
      {{ post.title }}
      </div>
      <div class="card-body">
      <blockquote class="blockquote mb-0">
          <p>{{ post.body }}</p>
          <footer class="blockquote-footer">{{ post.author.username.title() }} 
              <cite title="Source Title">{{ post.date_created.strftime('%A, %B %d') }}</cite>
          </footer>
      </blockquote>
      <a href="{{ url_for('get_post', post_id=post.id) }}" class="btn btn-primary mt-2">See More</a> 
      <!-- when user hovers it should be able to take them to a specefic post -->
      {% if post.author == current_user %}
      <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-success mt-2">Edit</a>
      {% endif %}
      </div>
  </div>
{% endfor %}

  {% else %}
  <style>
    #box{
      border: 2px solid lightgray;
      padding: 30px
    }
  </style>
<div class="container">
  <h1>Welcome to the Crypto network</h1>
  <h6 class="my-3">The social platform for major crypto news and a community for traders to give insight!</h6>
  <p id="box">Don't have an account yet? <a href="{{ url_for('signup') }}">Sign up</a></p>

  <h2>Coming Soon!</h2>
  <p id="box">Automated trading!</p>
</div>
  {% endif %}
{% endblock content %}