
{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
  <h1 class="text-center">Hello {{ current_user }}!</h1>

  {% for post in posts %}
  <div class="card my-3">
      <div class="card-header">
      {{ post.title }}
      </div>
      <div class="card-body">
      <blockquote class="blockquote mb-0">
          <p>{{ post.body }}</p>
          <footer class="blockquote-footer">{{ post.author.username.title() }} 
              <cite title="Source Title">{{ post.date_created.strftime('%A, %B %d at %I:%M%p') }}</cite>
          </footer>
      </blockquote>
      <a href="{{ url_for('get_post', post_id=post.id) }}" class="btn btn-primary mt-2">See More</a> 
      <!-- when user hovers it should be able to take them to a specefic post -->
      </div>
  </div>
{% endfor %}

  {% else %}
  <h1 class="text-center">Hello, please sign up or login to use the blog</h1>
  {% for obj in results %}
    <!-- <tr> -->
      <h1>{{obj.name}}</h1>
      <td>{{obj.symbol}}</td>
      <td>{{obj.slug}}</td>
      <td>{{obj.quote.USD.price}}</td>
    <!-- </tr> -->
    {% endfor %}
  {% endif %}
{% endblock content %}