

<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Get Started</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
        <div class="collapse navbar-collapse" id="responsivenavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('post') }}">Posts</a> 
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>