
<style>
  #navBar{
    display: flex;
    justify-content: space-evenly;
  }
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top" id="navBar">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Get Started</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('create') }}">Create More</a> 
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('crypto') }}">Crypto Forum</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('news') }}">News Forum</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>